@import "./fonts.css";

:root {
  --color-dark: #000;
  --color-light: #fff;
  --color-purple-light: rgb(243, 196, 251, 0.6);
  --color-purple-primary: rgb(186, 104, 200, 0.8);
  --color-base: rgb(30, 28, 28, 0.8);

  --font-base: "Poppins", sans-serif;

  --transition-dur: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a, button {
  background: transparent;
  border: 0;
  display: inline-flex;
  transition: all var(--transition-dur);
}

button {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
}

#root {
  height: 100%;
  display: flex;
  gap: 20px;
}